.correct{
  background-color: green;

}
.wrong{
  background-color: red;
}
p{
  display: inline;
  position: relative;
  top: 250px;
}
body{
  background-color: orange;
}
div{
  width: 90%;
  text-align: center;
  position: absolute;
}
input{
  position: relative;
  top: 280px;
  width: 50%;
}
.endcontent{
  position: relative;
  top: 100px;
}
